* {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  margin: 0;
  background-color: #f4f6f8;
}

/* 광고배너 추가 */
.main-wrap {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding: 20px;
}
aside {
  border: 1px solid black;
  width: 200px;
  padding: 30px;
  color: #050505;
  background-color: #9cb9f7;
  text-align: center;
}
.main-content {
  flex: 1;
  margin-top: 0;
}
table {
  margin-top: 0;
}
/* 헤더 */
.header {
  background: #88c7b2;
  color: rgb(0, 0, 0);
  padding: 5px 0;
  text-align: center;
}

.title img {
  height: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

/* 검색 */
.search-section {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 20px 0;
}

/* 상품 검색 탭에서만 검색창 표시 */
#searchResult .search-section {
  display: flex;
}

.search-section input {
  width: 380px;
  height: 38px;
  padding: 0 12px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 6px;
}

.search-section button {
  height: 38px;
  padding: 0 18px;
  font-size: 14px;
  background-color: #5ba5ff;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

/* 탭 */
.tabs {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 20px 0;
}

.tab {
  text-decoration: none;
  padding: 12px 20px;
  background: #ddd;
  border-radius: 5px;
  color: black;
  font-weight: bold;
}

.tab:hover {
  background: #1e90ff;
  color: white;
}

/* 탭 선택 시 안내 문구 숨김 */
body:has(.content:target) .tab-guide {
  display: none;
}

/* 내용 영역 */

.content {
  display: none;
}

/* 선택된 탭만 표시 */
.content:target {
  display: block;
}

/* 처음 접속 시 기본 콘텐츠 표시 */
body:not(:has(.content:target)) .content.default {
  display: block;
}

/* 테이블 */
table {
  width: 90%;
  margin: auto;
  border-collapse: collapse;
  background: white;
}

th,
td {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
}

th {
  background: #f0f0f0;
}

.product-img {
  width: 60px;
  height: 60px;
}

/* 검색 결과용 */
.search-info {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

/* 검색버튼 */
#searchKeyword {
  font-weight: bold;
  color: #cfbf61;
}

.result-btn {
  padding: 10px 20px;
  background-color: #555;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.result-btn:hover {
  background-color: #2d7ac7;
}

.result-title {
  text-align: center;
  margin-bottom: 15px;
}

/* 품절버튼 */
.btn {
  padding: 6px 10px;
  border-radius: 5px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.btn.soldout {
  background-color: #e74c3c;
  color: white;
}

.btn.low {
  background-color: #f39c12;
  color: white;
}

.btn.ok {
  background-color: #2ecc71;
  color: white;
}
/* 우리 점포인기상품: 발주버튼 */

/*재고가 부족할때*/
.status-no button {
  background-color: salmon;
}

/*상품 재고현황: 제고확인버튼 */

/*재고가 부족할때*/
.stock_short button {
  background-color: salmon;
}
